<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다.

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [ ]:
#1 데이터 셋 불러오기
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd

column_headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

df = pd.read_csv(url, names = column_headers)

#,제거 하기위한 코드

def toint(string):
    return int(string.replace(',',''))

#영업이익과 매출액 data ',' 제거
df['영업이익'] = df['영업이익']. apply(toint)
df['매출액'] = df['매출액']. apply(toint)
df['영업이익률2'] = df['영업이익'] / df['매출액']
df['영업이익률2'] = df['영업이익률2'] * 100

#소수점 3자리까지 표시
pd.options.display.float_format = '{:.3f}'.format
df

      분기    매출액  영업이익 영업이익(발표기준) 세전계속사업이익  ...   부채비율   자본유보율  EPS(원) PER(배) 영업이익률2
0   19/6  12578  3991      3,991    4,452  ... 31.430 803.220   2,351 13.770 31.730
1   19/9  13222  3825      3,825    4,503  ... 24.170 836.860   2,337 13.870 28.929
2  19/12  11982  2523      2,523    1,794  ... 23.040 850.820     873 12.420 21.057
3   20/3  11784  3150      3,150    4,156  ... 29.690 823.160   2,134  9.710 26.731
4   20/6  13188  3947      3,947    4,020  ... 26.910 837.400   2,135 10.460 29.929

[5 rows x 26 columns]

In [ ]:
df.shape

(5, 26)

In [ ]:
(round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum()

5

In [ ]:
#데이터 프레임 생성
df2 = pd.DataFrame({'구분':['18년','19년'], '시장규모':[15000000000000,15000000000000], '종가':[101500,93800], '발행주식수':[137292497,137292497], '시가총액':[13935188445500,12878036218600], '시장점유율':[62.0,63.5]})
df2
#PDR 구하기
df2['PDR'] = df2['시가총액']/(df2['시장규모']*df2['시장점유율']/100)
df2['PDR'] = df2['PDR']*100 
df2

    구분            시장규모      종가      발행주식수            시가총액  시장점유율     PDR
0  18년  15000000000000  101500  137292497  13935188445500 62.000 149.841
1  19년  15000000000000   93800  137292497  12878036218600 63.500 135.202

In [ ]:
(round(df2['PDR'], 3) == [149.841, 135.202]).sum()

2

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [ ]:
#1 데이터 셋 불러오기
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd

column_headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

df = pd.read_csv(url, names = column_headers, thousands = ',')
df

      분기    매출액  영업이익  영업이익(발표기준)  ...   부채비율   자본유보율  EPS(원)  PER(배)
0   19/6  12578  3991        3991  ... 31.430 803.220    2351  13.770
1   19/9  13222  3825        3825  ... 24.170 836.860    2337  13.870
2  19/12  11982  2523        2523  ... 23.040 850.820     873  12.420
3   20/3  11784  3150        3150  ... 29.690 823.160    2134   9.710
4   20/6  13188  3947        3947  ... 26.910 837.400    2135  10.460

[5 rows x 25 columns]

In [ ]:
df['매출액'][0]

12578

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd

column_headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

df = pd.read_csv(url, names = column_headers, thousands = ',') #thousands 통해 ','제거 함으로 int,float로 수정
df = df.fillna(0) #결측치 0으로
df.dtypes #바뀌었는지 data type 화인
df.describe()

            매출액     영업이익  영업이익(발표기준)  세전계속사업이익  ...   부채비율   자본유보율   EPS(원)  PER(배)
count     5.000    5.000       5.000     5.000  ...  5.000   5.000    5.000   5.000
mean  12550.800 3487.200    3487.200  3785.000  ... 27.048 830.292 1966.000  12.046
std     664.979  636.931     636.931  1131.079  ...  3.555  18.020  619.940   1.898
min   11784.000 2523.000    2523.000  1794.000  ... 23.040 803.220  873.000   9.710
25%   11982.000 3150.000    3150.000  4020.000  ... 24.170 823.160 2134.000  10.460
50%   12578.000 3825.000    3825.000  4156.000  ... 26.910 836.860 2135.000  12.420
75%   13188.000 3947.000    3947.000  4452.000  ... 29.690 837.400 2337.000  13.770
max   13222.000 3991.000    3991.000  4503.000  ... 31.430 850.820 2351.000  13.870

[8 rows x 24 columns]

In [ ]:
(df.dtypes == 'O').sum()

1

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [ ]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['매출액'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [ ]:
grade(df, df2)

4

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd
import numpy as np 

column_headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']
df = pd.read_csv(url, names = column_headers, thousands = ',')
df = df.fillna(0)

#당기순이익(비지배) -값을 결측값으로 변경
cols = ['당기순이익(비지배)']
df[df[cols] < 0] = np.nan

#당기순이익(비지배) mean값 구한 후 결측값을 대체
df['당기순이익(비지배)'].mean()
df.fillna(df['당기순이익(비지배)'].mean())

      분기    매출액  영업이익  영업이익(발표기준)  ...   부채비율   자본유보율  EPS(원)  PER(배)
0   19/6  12578  3991        3991  ... 31.430 803.220    2351  13.770
1   19/9  13222  3825        3825  ... 24.170 836.860    2337  13.870
2  19/12  11982  2523        2523  ... 23.040 850.820     873  12.420
3   20/3  11784  3150        3150  ... 29.690 823.160    2134   9.710
4   20/6  13188  3947        3947  ... 26.910 837.400    2135  10.460

[5 rows x 25 columns]

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd
import numpy as np 

column_headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']
df = pd.read_csv(url, names = column_headers, thousands = ',')
df = df.fillna(0)
df.mean()

df['매출액 평균'] = df['매출액'] / 12550.800
df['매출액 평균'] = (df['매출액 평균']-1)*100

grades = []
for x in df['매출액 평균']:
    if x >= 10:
        grades.append("S")
    elif x >= 5:
        grades.append("A")
    elif  x >= -5:
        grades.append("B")
    elif x < -5: 
        grades.append("C")
    elif x < -10:
        grades.append("D")
    else:
        grades.append("")

df['매출 점수'] = grades
df

      분기    매출액  영업이익  영업이익(발표기준)  ...  EPS(원)  PER(배)    매출액 평균  매출 점수
0   19/6  12578  3991        3991  ...    2351   13.77  0.216719      B
1   19/9  13222  3825        3825  ...    2337   13.87  5.347866      A
2  19/12  11982  2523        2523  ...     873   12.42 -4.531982      B
3   20/3  11784  3150        3150  ...    2134    9.71 -6.109571      C
4   20/6  13188  3947        3947  ...    2135   10.46  5.076967      A

[5 rows x 27 columns]

In [ ]:
avg = df['매출액'].mean()
print(avg)

#해당 등급을 위해 필요한 매출액
print(round(avg*1.1,4),'S')
print(round(avg*1.05,4),'A')
print(round(avg*0.95,4),'B')
print(round(avg*0.9,4),'C')

12550.8
13805.88 S
13178.34 A
11923.26 B
11295.72 C